{% extends "base.html" %}
{% block title %}Classes{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pricing.css') }}">
{% endblock %}

{% block content %}
    <h1>Courses</h1>
    
    {% set num_cards = namespace(cards=0) %}
    {% for user in course_list['Users'] %}
    {% for card in course_list['Users'][user]['CoursesMade'] %}
    {% if num_cards.cards % 4 == 0%}
    <div class="cards">
    {% endif %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{card}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{user}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/course?name={{card}}&user={{user}}" class="card-link">Course link</a>
        </div>
      </div>
      <!-- https://stackoverflow.com/questions/45916196/jinja-variable-inside-string-inside-if-statement?test=%20yo -->
    {% set num_cards.cards = num_cards.cards + 1 %}
    {% if num_cards.cards % 4 == 0%}
    </div>
    <br>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}