{% extends "base.html" %}
{% block title %}Classes{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pricing.css') }}">
{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<h2>{{author}}</h2>
{% set incodeblock = namespace(true=0) %}
{% for text in texts %}
{% if incodeblock.true == 0 %}
{% if text.startswith('# ') %}
<h1 id="within">{{text[1:]}}</h1>
{% elif text.startswith('## ') %}
<h2>{{text[2:]}}</h2>
{% elif text.startswith('### ') %}
<h3>{{text[3:]}}</h3>
{% elif text.startswith('#### ') %}
<h4>{{text[4:]}}</h4>
{% elif text.startswith('```') and text[-3:]=="```" and (not text.__len__()==3)%}
<code>{{text[3:-3]}}</code>
{{'pain'}}
{% elif text.startswith(' ```') and text[-3:]=="```" and (not text.__len__()==3)%}
<code>{{text[4:-3]}}</code>
{% elif text.startswith('```') %}
<pre><code>
{% set incodeblock.true=1 %}
{% elif not text.strip(' ').startswith('https://www.youtube.com/embed/') %}
<!-- {% if ("[" in text) and ("](" in text) and (")" in text) %}
'lol'
<link href = 'text[text.find("(")+1:text.find(")")]''>
{% endif %} -->
<p>{{text}}</p>
{% else %}
<iframe width="560" height="315" src="{{text}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endif %}
{% else %}

{% if text.endswith('```') %}
</pre></code>
{% set incodeblock = namespace(true=1) %}

{% else %}
{{text}}

{% endif %}
{% endif %}
{% endfor %}
{% endblock %}